* {
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Futura', sans-serif;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

header{
    background-color: #FFFCF5;
    font-size: 17px;
    text-align: center;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 45px;
    color: black;


}
body{
    background-color: #FFFCF5;
    width: 100%;
    height: 100%;
}
main,header,footer{
    height:auto;
    width: auto;
}
footer{
    background-color: #FFFCF5;
    font-size: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;


}
h1{
    margin-top: 50px;
    font-size: 3em;
    color:black;
    font-family: 'Futura', sans-serif;
    font-weight: 700;
    text-align: center;
    box-shadow: antiquewhite;
}
h2{
    font-family: 'Futura', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h3{
    font-family: 'Futura', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
 padding-bottom: 30px;
    padding-top: 30px;
}
.bilderrahmen{
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.nilss{
    width: auto;
    height: 900px;
    margin-bottom: 30px;
}
.evita{
    margin-left: 600px;
    margin-top: 40px;
}
.nilz{
    margin-left: 600px;
    margin-top: 40px;
}
.artikel{

}
.Link1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

header nav {
    float: right;
    margin: -5px 50px 0 0;
    font-family: 'Futura', sans-serif;
}
header ul nav {
    margin-bottom: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 2000px;
    text-align: center;
    margin-left: 50px;
    text-decoration: none;
}

nav a{

    margin: 10px;
   justify-content: space-between;
    color: black;
    text-decoration: none;
}

header ul nav a:hover {
    padding-top: 5px;


}

.carousel {

    width: 60vw;

    height: 60vh;

    position: relative;

    margin-top: 80px;
    
    margin-left: 250px;

}



.slide {

    position: absolute;

    inset: 0;

    opacity: 0;

    transition: 200ms opacity ease-in-out;


}



.slide[data-active] {

    opacity: 1;

}



.slide>img {

    display: block;

    width: 100%;

    height: 90%;

    object-fit: unset;

    object-position: 30px;





}



.carousel-button {

    position: absolute;

    z-index: 2;

    background: none;

    border: none;

    font-size: 3rem;

    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;

    border-radius: .25rem;

}
.carousel-button.next {

    right: 1rem;

}
.carousel>ul {

    margin: 20px;

    padding: 10px;

    list-style: none;


}



.carousel-button:hover,

.carousel-button:focus {

    color: rgba(0, 0, 0, 0.3)

}



.carousel-button.prev {

    left: 3rem;

}
.button {
    font-family: 'Futura', sans-serif;
}
.rund{
    border-radius: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px
}
.runde-ecken {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}
img {
    width: 30%;
    height: 30%;
}

.flex-container{
    flex-direction: column;
    width: 60%;
    height: 60%;

}

.siria{
margin-left: 70px;


}
.rund1 {
    transition: transform 0.7s;
    filter: opacity(60%);
    margin: 10px;

}

.rund1:hover {
    transform: scale(1.2, 1.2);
    filter: opacity(100%);
}

.rund2 {
    transition: transform 0.7s;
    filter: opacity(60%);
    margin: 10px;
}

.rund2:hover {
    transform: scale(1.2, 1.2);
    filter: opacity(100%);
}

.rund3 {
    transition: transform 0.7s;
    filter: opacity(60%);
    margin: 10px;
}

.rund3:hover {
    transform: scale(1.2, 1.2);
    filter: opacity(100%);
}

.rund4 {
    transition: transform 0.7s;
    filter: opacity(60%);
    margin: 10px;
}

.rund4:hover {
    transform: scale(1.2, 1.2);
    filter: opacity(100%);
}
.rund5 {
    transition: transform 0.7s;
    filter: opacity(60%);
    margin: 10px;
}

.rund5:hover {
    transform: scale(1.2, 1.2);
    filter: opacity(100%);
}

.rund6 {
    transition: transform 0.7s;
    filter: opacity(60%);
    margin: 10px;
}

.rund6:hover {
    transform: scale(1.2, 1.2);
    filter: opacity(100%);
}

.video{
justify-content: center;
    margin-left: 550px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.instagram{
    height: 200px;
    width: 200px;
    margin-left: 700px;
    margin-top: 40px;
    margin-bottom: 20px;

}
.formular{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
form {
    text-align: center;
    font-size:20px;
    height: 500px;

}
ul li{
    font-family: 'Futura', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.texto{
    margin-top: -120px;
}
#logo {
    width: 140px;
    float: left;
    margin: -5px 0 0 50px;
    margin-left: 10px;
}
#logo img{
    width: 30%;
}
#logo:hover {
    opacity: 0.5;
}
#logo {transition: all 300ms;}